{% extends 'shared/base.html' %}
{% block content %}

    <h1>Business Form</h1>

    {% if business.id is not None %}
        <form action="{% url 'capstoneapp:business' business.id %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'capstoneapp:businesses' %}" method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ business.name }}" required>
        </fieldset>
        <fieldset>
            <label for="price">Price: </label>
                <select required id="price" type="text" name="price">
                        <option value="" disabled selected>Select</option>
                        <option {% if business.price == 1 %}selected{% endif %} value="1">1</option>
                        <option {% if business.price == 2 %}selected{% endif %} value="2">2</option>
                        <option {% if business.price == 3 %}selected{% endif %} value="3">3</option>
                        <option {% if business.price == 4 %}selected{% endif %} value="4">4</option>
                        <option {% if business.price == 5 %}selected{% endif %} value="5">5</option>
                    </select>
        </fieldset>
        <fieldset>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" value="{{ business.description }}" required>
        </fieldset>
        <fieldset>
            <label for="location">Location: </label>
            <input id="location" type="text" name="location" value="{{ business.location }}" required>
        </fieldset>
        <fieldset>
            <label for="phone_number">Phone Number: </label>
            <input id="phone_number" type="text" name="phone_number" value="{{ business.phone_number }}" required>
        </fieldset>
         <fieldset>
            <label for="address">Address: </label>
            <input id="address" type="text" name="address" value="{{ business.address }}" required>
        </fieldset>
         <fieldset>
            <label for="website">Website: </label>
            <input id="website" type="text" name="website" value="{{ business.website }}" required>
        </fieldset>
            {% if business.id is None %}
        <fieldset>
            <label for="image">Image: </label>
             <input required type="file" id="image" name="image">
        </fieldset>
        {% endif %}
        <fieldset>
            <label for="business_type">Business Type: </label>
            <select required id="business_type" type="text" name="business_type">
            <option value="" disabled selected>Select</option>
                {% for business_type in all_business_types %}
                <option {% if business.business_type_id == business_type.id %}selected{% endif %} value="{{ business_type.id }}">{{ business_type.name }}</option>
                {% endfor %}
            </select>
        </fieldset>

        {% if business.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
            <a class= "cancel" href="{% url 'capstoneapp:businesses' %}">Cancel</a>
        {% else %}
            <input type="submit" value="Create" />
            <a class= "cancel" href="{% url 'capstoneapp:businesses' %}">Cancel</a>
        {% endif %}
    </form>
    
{% endblock %}
