{% extends 'shared/base.html' %}
{% block content %}

    <section id="business-details">
        <img class="profile-image" src="{{ business.image.url }}" />
        <h1>{{ business.name }}</h1>
            {% if theAvg is not None %}
                <h2>Average Rating {{ theAvg }}</h2>
            {% endif %}
        <div>Price {{ business.price }}</div>
        <div>{{ business.description }}</div>
        <div>{{ business.location }}</div>
        <div>{{ business.phone_number }}</div>
        <div>{{ business.address }}</div>
         {% comment %} {% for user in users %}
             {% if user.customer.id == business.customer_id %} 
         
            <div>{{user.username}} </div>

            {% endif %} {% endcomment %}
        {% comment %} {% endfor %}  {% endcomment %}
        <div>{{ business.website }}</div>
        <div>{{ business.business_type.name }}</div>



    </section>

    {% if business.customer_id == request.user.customer.id %}

    <section id="business-actions" style="display:flex;">
        <form action="{% url 'capstoneapp:business' business.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
        </form>

        <form action="{% url 'capstoneapp:business_edit_form' business.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
    {% endif %}
        {% if request.user.customer.id is not None %}
        <form action="{% url 'capstoneapp:review_form' %}">
            <input type="submit" value="Add Review"/>
            <input type="hidden" name="business_id" value="{{business.id}}"/>
        </form>
        {% endif %}

        
         {% for review in all_reviews %}
         <ul>
        <li class="reviews">
            <div>rating {{ review.rating }}</div>
            <div>comment {{ review.comment }}</div>
           {% for user in users %}
             {% if user.customer.id == review.customer_id %}      
            <div>Created by {{user.username}} </div>
            {% endif %}
        {% endfor %} 

        {% for review in all_reviews %}



        {% endfor %} 


{% if review.customer_id == request.user.customer.id %}

        <section id="review-actions" style="display:flex;">
        <form action="{% url 'capstoneapp:review' review.id  %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
        </form>

        <form action="{% url 'capstoneapp:review_edit_form' review.id %}" method="GET">
        <input type="hidden" name="business_id" value="{{business.id}}"/>
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section> 
 {% endif %} 
        
        </li>
        </ul>
        {% endfor %}

    
{% endblock %}
