{% extends 'shared/base.html' %}
{% block content %}

    <h1>Business Form</h1>

    {% if business.id is not None %}
        <form action="{% url 'capstoneapp:business' business.id %}" method="post">
    {% else %}
        <form action="{% url 'capstoneapp:businesses' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ business.name }}">
        </fieldset>
        <fieldset>
            <label for="price">Price: </label>
            <input id="price" type="text" name="price" value="{{ business.price }}">
        </fieldset>
        <fieldset>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" value="{{ business.description }}">
        </fieldset>
        <fieldset>
            <label for="location">Year of publication: </label>
            <input id="location" type="number" name="location" value="{{ business.location }}">
        </fieldset>
        <fieldset>
            <label for="phone_number">Phone Number: </label>
            <input id="phone_number" type="text" name="phone_number" value="{{ business.phone_number }}">
        </fieldset>
         <fieldset>
            <label for="address">Address: </label>
            <input id="address" type="text" name="address" value="{{ business.address }}">
        </fieldset>
         <fieldset>
            <label for="website">Website: </label>
            <input id="website" type="text" name="website" value="{{ business.website }}">
        </fieldset>
         <fieldset>
            <label for="created_at">Created at: </label>
            <input id="created_at" type="text" name="created_at" value="{{ business.created_at }}">
        </fieldset>
        <fieldset>
            <label for="business_type">Business Type: </label>
            <select id="business_type" type="text" name="business_type">
                {% for business_type in all_business_types %}
                <option {% if business_type.id == business.business_type_id %}selected{% endif %} value="{{ business_type.id }}">
                    {{ business_type.name }}</option>
                {% endfor %}
            </select>
        </fieldset>

        {% if business.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}
    </form>
    
{% endblock %}
