{% extends 'shared/base.html' %}
{% block content %}

    <section id="business-details">
        <img class="profile-image" src="{{ business.image.url }}" />
        <h1>{{ business.name }}</h1>
        <h2>{% if theAvg == "5" %}
             <div class="stars">
                <input id="star-5" type="radio" name="rating" value="5" checked=true disabled=true/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="rating" value="4" disabled=true/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="rating" value="3" disabled=true/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="rating" value="2" disabled=true/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="rating" value="1" disabled=true/>
                <label for="star-1"></label>
            </div>
            {% endif %}

            {% if theAvg == "4" %}
             <div class="stars">
                <input id="star-5" type="radio" name="rating" value="5" disabled=true/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="rating" value="4" checked=true disabled=true/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="rating" value="3" disabled=true/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="rating" value="2" disabled=true/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="rating" value="1" disabled=true/>
                <label for="star-1"></label>
            </div>
            {% endif %}

            {% if theAvg == "3" %}
             <div class="stars">
                <input id="star-5" type="radio" name="rating" value="5" disabled=true/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="rating" value="4" disabled=true/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="rating" value="3" checked=true disabled=true/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="rating" value="2" disabled=true/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="rating" value="1" disabled=true/>
                <label for="star-1"></label>
            </div>
            {% endif %}

            {% if theAvg == "2" %}
             <div class="stars">
                <input id="star-5" type="radio" name="rating" value="5" disabled=true/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="rating" value="4" disabled=true/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="rating" value="3"disabled=true/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="rating" value="2" checked=true disabled=true/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="rating" value="1" disabled=true/>
                <label for="star-1"></label>
            </div>
            {% endif %}

            {% if theAvg == "1" %}
             <div class="stars">
                <input id="star-5" type="radio" name="rating" value="5" disabled=true/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="rating" value="4" disabled=true/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="rating" value="3" disabled=true/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="rating" value="2" disabled=true/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="rating" value="1" checked=true disabled=true/>
                <label for="star-1"></label>
            </div>
            {% endif %}</h2>
        <div>Price {{ business.price }}</div>
        <div>{{ business.description }}</div>
        <div>{{ business.location }}</div>
        <div>{{ business.phone_number }}</div>
        <div>{{ business.address }}</div>
        <div>{{ business.website }}</div>
        <div>{{ business.business_type.name }}</div>

    <div class="card mb-3" style="width: 24rem;">
  <img src="{{ business.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

    </section>



    {% if business.customer_id == request.user.customer.id %}

    <section id="business-actions" style="display:flex;">
        <form action="{% url 'capstoneapp:business' business.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button class="btn btn-dark btn-sm btn btn-dark" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
        </form>

        <form action="{% url 'capstoneapp:business_edit_form' business.id %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-dark btn-sm btn btn-dark">Edit</button>
        </form>
    </section>
    {% endif %}


        {% if  request.user.is_authenticated and submitted == False %}
            <form action="{% url 'capstoneapp:review_form' %}">
                <input class="btn btn-dark btn-sm btn btn-dark" type="submit" value="Add Review"/>
                <input type="hidden" name="business_id" value="{{business.id}}"/>
            </form>
        {% endif %}

        
         {% for review in all_reviews %}
         <ul>
        <li class="reviews">
            <div>rating {{ review.rating }}</div>
            <div>comment {{ review.comment }}</div>
           {% for user in users %}
             {% if user.customer.id == review.customer_id %}      
            <div>Created by {{user.username}} </div>
            {% endif %}
        {% endfor %} 



{% if review.customer_id == request.user.customer.id %}

        <section id="review-actions" style="display:flex;">
        <form action="{% url 'capstoneapp:review' review.id  %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button class="btn btn-dark btn-sm btn btn-dark" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
        </form>

        <form action="{% url 'capstoneapp:review_edit_form' review.id %}" method="GET">
        <input type="hidden" name="business_id" value="{{business.id}}"/>
            {% csrf_token %}
            <button class="btn btn-dark btn-sm btn btn-dark">Edit</button>
        </form>
    </section> 
 {% endif %} 
        
        </li>
        </ul>
        {% endfor %}

    
{% endblock %}
