{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/businesses.css' %}" />
{% endblock %}

{% block content %}
    <h1>Businesses</h1>
    
    <form method="GET" action = ""> 
    <input type="text" name="q" placeholder="Search Businesses" value="{{request.GET.q}}" />
    <input type="submit" value="Search">
    </form>

     {% if request.user.customer.id is not None %}
        <p>
    <a href="{% url 'capstoneapp:business_form' %}">Add Business</a>
        </p>
      {% endif %}

    <ol class="businesses">
    
    {% for business in all_businesses %}

        <li class="business">
            <a class="business__title" href="{% url 'capstoneapp:business' business.id %}"> {{ business.name }} </a>
            <img class="profile-image" src="{{ business.image.url }}" />
             {% if business.review_avg is not None %}
                <div>{{business.review_avg}}</div>
            {% endif %}
            <div>{{business.location}}</div>
            <div>{{business.business_type.name}}</div>   
   



        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/businesses.js' %}"></script>
{% endblock %}