{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/businesses.css' %}" />
{% endblock %}

{% block content %}
    <h1>Businesses</h1>

      
            <label for="new_query">Location: </label>
            <input id="new_query" type="text" name="new_query" value="{{ business.name }}" required>
       

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

     {% if request.user.customer.id is not None %}
        
    <a href="{% url 'capstoneapp:business_form' %}">Add Business</a>

      {% endif %}

    <ol class="businesses">
    {% for business in all_businesses %}
        <li class="business">
            <a class="business__title" href="{% url 'capstoneapp:business' business.id %}"> {{ business.name }} </a>
            <img class="profile-image" src="{{ business.image.url }}" />
             {% if theAvg is not None %}
                <div>Average Rating {{ theAvg }}</div>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/businesses.js' %}"></script>
{% endblock %}