{% extends 'shared/base.html' %}


{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% comment %} <form action="{% url 'capstoneapp:register' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username" required>
      </fieldset>
      <fieldset>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" required>
      </fieldset>
      <fieldset>
          <label for="password_confirmation">Password Confirmation: </label>
          <input id="password_confirmation" type="password" name="password_confirmation" required>
      </fieldset>
      <fieldset>
          <label for="address">Location: </label>
          <input id="address" type="text" name="address" required>
      </fieldset>
      <fieldset>
          <label for="phone_number">Phone Number: </label>
          <input id="phone_number" type="text" name="phone_number" required>
      </fieldset>
      <fieldset>
          <label for="image_path">Image: </label>
          <input id="image_path" type="text" name="image_path" required>
      </fieldset>
      </fieldset>

      <input type="submit" value="Submit" />
    </form> {% endcomment %}

    <form action="{% url 'capstoneapp:register' %}" method="post">
    {% csrf_token %}
    {{ form.as_table }}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="username">Username</label>
      <input type="username" class="form-control" id="inputEmail4" name="username">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" name="password">
    </div>
       <div class="form-group col-md-4">
      <label for="inputPassword4">Password Confirmation</label>
      <input type="password" class="form-control" id="inputPassword4" name="password_confirmation">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Location</label>
    <input type="text" class="form-control" id="inputAddress"  name="address">
  </div>
  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="text" class="form-control" id="phone_number" name="phone_number">
  </div>
   <div class="form-group">
    <label for="image_path">Image</label>
    <input type="text" class="form-control" id="image_path" name="image_path">
  </div>
  <button type="submit" class="btn btn-primary" value="submit">Submit</button>
</form>
{% endblock %}